* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
}

.container {
  background: #fff;
  width: 450px;
  padding: 2rem;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

form {
  margin: 1rem 0;
}

.form-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: hsl(327, 90%, 28%);
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #757575;
}

input {
  width: 100%;
  padding: 10px 40px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #dfe9f5;
  transition: 0.3s;
}

input:focus {
  border-bottom: 2px solid hsl(327, 90%, 28%);
  outline: none;
}

input::placeholder {
  color: #aaa;
}

label {
  color: #757575;
  position: absolute;
  left: 40px;
  top: -20px;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
  background: #fff;
  padding: 0 5px;
}

input:focus~label,
input:not(:placeholder-shown)~label {
  top: -40px;
  font-size: 0.8rem;
  color: hsl(327, 90%, 28%);
}

.recover {
  text-align: right;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.recover a {
  text-decoration: none;
  color: rgb(125, 125, 235);
}

.recover a:hover {
  color: blue;
  text-decoration: underline;
}

.btn {
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: rgb(125, 125, 235);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: hsl(327, 90%, 28%);
}

.or {
  font-size: 1rem;
  margin: 1rem 0;
  color: #757575;
}

.icons {
  text-align: center;
  margin: 1rem 0;
}

.icons i {
  color: rgb(125, 125, 235);
  padding: 0.8rem 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
  margin: 0 10px;
  transition: 0.3s;
}

.icons i:hover {
  background: hsl(327, 90%, 28%);
  color: #fff;
  border: 2px solid hsl(327, 90%, 28%);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-size: 1rem;
}

button {
  color: rgb(125, 125, 235);
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  color: blue;
  text-decoration: underline;
}

/* Added Media Query for Better Responsiveness */
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }

  .icons i {
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
  }
}